:root {
    --primary-colour: #1f2129;
    --secondary-colour: rgb(39, 41, 52);
    --highlight-primary: rgb(129, 91, 233);
    --highlight-secondary: #ffa400;
    --text-primary: rgb(242, 244, 251);
    --text-secondary: #9b9d9f;
    --link-colour: #9cd3ff;
}

body {
    background-color: var(--secondary-colour);
    color: var(--text-secondary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    margin: 0 !important;
}

.body-content {
    margin: 20px;
    margin-top: 100px;
}

a {
    color: var(--link-colour);
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--text-primary);
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

.centred-body {
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-background {
    width: 100%;
    height: 150px;
    background-color: var(--highlight-primary);
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    position: relative;
}

.header-text h1 {
    font-size: 80px;
    margin-block-end: 0;
    margin-block-start: 0.1em;
}

.profile-image {
    margin-left: 30px;
    margin-top: 30px;
}

.profile-image img {
    height: 200px;
    border-radius: 50%;
}

.profile-links {
    top: -18px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.profile-links a {
    margin-left: 20px;
    font-size: 24px;
    color: var(--text-primary) !important;
    transition: transform .2s ease;
}

.profile-links a:hover {
    transform: translate3d(0, -0.2em, 0);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--text-primary);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nav-button {
    margin-left: 15px;
    background-color: var(--highlight-secondary);
    border-radius: 1rem;
    width: 150px;
    font-weight: 600;
}

.nav-button:hover {
    background-color: #db8f00;
}

.nav-button:active {
    border-color: var(--highlight-secondary);
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
}

.inline-link::after {
    background-color: var(--link-colour);
    height: 2px !important;
}

.github-link::after {
    background-color: var(--link-colour);
}

.link-hover-effect, .horizontal-link-hover-effect {
    display: inline-block;
    position: relative;
}

.horizontal-link-hover-effect::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    transition: transform 400ms;
    transform: scaleX(0);
    transform-origin: right;
}

.horizontal-link-hover-effect:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.link-hover-effect::after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 0;
    transition: width 400ms ease;
}

.link-hover-effect:hover::after {
    width: 100%;
}

.content-title {
    color: var(--text-primary);
    font-size: 30px;
    font-weight: bold;
}

.content-date {
    font-size: 20px;
    float: right;
}

.content-footer {
    display: flex;
}

.language-group {
    margin-right: 5px;
    margin-bottom: 5px;
}

.content-link {
    width: 100px;
    flex: auto;
    display: inherit;
    justify-content: right;
}

.content-container {
    padding: 10px 40px;
    position: relative;
    width: 60%;
}

.content {
    padding: 15px 30px 5px 30px;
    background-color: var(--primary-colour);
    position: relative;
    border-radius: 10px;
}