:root {
    --primary-colour: #1f2129;
    --secondary-color: rgb(39, 41, 52);
    --highlight-primary: rgb(129, 91, 233);
    --text-primary: rgb(242, 244, 251);
    --text-secondary: #9b9d9f;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-secondary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    margin: 0 !important;
}

.body-content {
    margin: 20px;
    margin-top: 100px;
}

a {
    color: #9cd3ff;
}

h1, h2, h3 {
    color: var(--text-primary);
}

.centred-body {
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    position: relative;
}

.header {
    display: flex;
}

.header-background {
    width: 100%;
    height: 150px;
    background-color: var(--highlight-primary);
}

.header-text {
    margin-left: 50px;
    position: relative;
    top: -40px;
}

.header-text h1 {
    font-size: 80px;
}

.profile-image {
    margin: 30px;
}

.profile-image img {
    height: 200px;
    border-radius: 50%;
}

.java-logo {
    color: #ff7d4a;
}

.js-logo {
    color: #fdf253;
}

.html-logo {
    color: #f3572f;
}

.css-logo {
    color: #2480cc;
}

.content-title {
    color: var(--text-primary);
    font-size: 30px;
    font-weight: bold;
}

.content-date {
    font-size: 20px;
    float: right;
}

.content-footer {
    display: flex;
}

.content-language {
    flex: 75%;
    display: inherit;
    flex-wrap: wrap;
}

.content-language i {
    font-size: 18px;
}

.language-group {
    margin-right: 15px;
}

.content-link {
    flex: 20%;
    display: inherit;
    justify-content: right;
}

.content-container {
    padding: 10px 40px;
    position: relative;
    width: 60%;
}

.content {
    padding: 20px 30px;
    background-color: var(--primary-colour);
    position: relative;
    border-radius: 10px;
}