:root {
    --light-grey: rgb(228, 228, 228);
}

.logo {
    height: 40px;
    margin-top: -15px;
}

.java-logo {
    color: #ff2300;
}

.js-logo {
    color: #fdca6e;
}

.html-logo {
    color: #df4a24;
}

.css-logo {
    color: #196fb5;
}

.content-title {
    font-size: 30px;
    font-weight: bold;
}

.content-date {
    font-size: 20px;
    float: right;
}

.content-footer {
    display: flex;
}

.content-language {
    flex: 75%;
    display: inherit;
    flex-wrap: wrap;
}

.content-language i {
    font-size: 18px;
}

.language-group {
    margin-right: 15px;
}

.content-link {
    flex: 20%;
    display: inherit;
    justify-content: right;
}

.content-container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.content {
    padding: 20px 30px;
    background-color: var(--light-grey);
    position: relative;
    border-radius: 10px;
}